*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}section{
    width: 130%;
    margin:0;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
    
}.card{
    width: calc((100%/5-1%));
    margin-top: 1%%;
    te
   
}
.mg{
    height: 92%;
    width: 100%;
}h1{
    text-align: center;
    font-weight: bold;
}