*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.featured{
    padding: 100px 100px;
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.title h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cards-container{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img{
    width: 248px;
    height: 248px;
    object-fit: cover;
    border-radius: 8px;
}

.details-container{
    padding: 12px 16px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 8px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.details h2{
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
}

.details h3{
    font-size: 20px;
    font-weight: 500;
    color: #1A1A1A;
}

.add-btn{
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bag{
    width: 20px;
    height: 20px;
}

.active{
    box-shadow: 0 0 5px #20B52652;
    border: 1px solid #2C742F;
}

.active .add-btn{
    background-color: #00B207;
    color: white;
}

.side-btns{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mark-btn{
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart, .eye{
    width: 20px;
    height: 20px;
}

.mixed-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    gap: 40px;
    align-items: stretch;
}

.cols{
    flex: 3;
    display: flex;
    gap: 25px;
}

.col{
    flex: 1;
}

.col h2{
    margin-bottom: 20px;
    font-size: 22px;
}

.small-card{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
    cursor: pointer;
}


.small-card img{
    width: 102px;
    height: 102px;
    object-fit: cover;
    border-radius: 8px;
}

.small-card h4{
    margin-bottom: 8px;
    font-weight: 500;
}

.small-card span{
    font-size: 18px;
    font-weight: 600;
}

.small-card.active{
    box-shadow: 0 0 5px #20B52652;
    border: 1px solid #2C742F;
}

.sale-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-image: url("/image/sale.jpg");
    background-size: cover;
    background-position: center;
    flex: 1;
    border-radius: 10px;
    padding-top: 50px;
    color: white;
}

.sale-card h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #1A1A1A;
}

.sale-card h2{
    font-size: 52px;
    margin-bottom: 30px;
    color: #00B207;
}

.sale-card button{
    padding: 14px 28px;
    border: none;
    border-radius: 50px;
    background: white;
    color: #00B207;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}

.deals-btn{
    display: flex;
    gap: 10px;
}

.small-card.active h4{
    color: #2C742F;
}